{
	"presets": [
		"react",
		[
			"es2015",
			{
				"loose": true,
				"modules": false
			}
		],
	],
	"plugins": [
		"transform-react-constant-elements",
		"lodash",
		[
			"transform-strict-mode",
			{
				"strict": true
			}
		]
	]
}