{
	"presets": [
		"react",
		[
			"env",
			{
				"targets": {
					"browsers": ["last 5 versions"],
				},
				"loose": true,
				"modules": false
			}
		],
	],
	"plugins": [
		"transform-react-constant-elements",
		"lodash",
		[
			"transform-strict-mode",
			{
				"strict": true
			}
		]
	]
}