/* universal reset */
* {
  margin: 0;
  padding: 0;
  border: none;
}

/* Sticky footer styles
-------------------------------------------------- */
/*
html {
  position: relative;
  min-height: 100vh;
}
*/
/*
body {
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}*/

/*
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}
*/


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/* default to nested flexboxes that fill everything evenly*/

/* aligns elements left-to-right */
.view {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
}

.view.centred {
  justify-content: center;
  align-items: center;
}

/* aligns elements top-to-bottom */
.view-vertical {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.view-vertical.centred {
  justify-content: center;
  align-items: center;
}

code {
  font-size: 80%;
}

/* loom */

a {
  cursor: pointer;
}

.navbar-brand {
  cursor: default;
}

.selected {
  background-color: lightgray;
}

.no-line-space {
  line-height: 0px;
}

.weak {
  color: gray;
}

div::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
}

div::-webkit-scrollbar-thumb {
  background: #AAAAAA;
}

.scroll::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
}

.scroll::-webkit-scrollbar-thumb {
  background: #AAAAAA;
}

div{
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.scroll{
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

h1 {
  font-size: 1.7em;
  margin-top: 0.5em;
  margin-bottom: 0.83em;
  font-weight: bold;
}
h2 {
  font-size: 1.2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-left: 16px;
  font-weight: bold;
  font-style: italic;
}
h3 {
  font-size: 1.2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-left: 16px;
}

td {
  border-top-style: solid;
  border-top-width: thin;
  border-top-color: lightgray;
  font-size: 14px;
  margin: 0px;
  padding: 8px;
  vertical-align: top;
}

th {
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: lightgray;
  font-size: 14px;
  margin: 0px;
  padding: 8px;
  vertical-align: top;
}

/* Leaflet crispness override */
.crisp-image {
  /* Preserve crisp pixels with scaled up images */
  image-rendering: optimizeSpeed;             /* Legal fallback */
  image-rendering: -moz-crisp-edges;          /* Firefox        */
  image-rendering: -o-crisp-edges;            /* Opera          */
  image-rendering: -webkit-optimize-contrast; /* Safari         */
  image-rendering: optimize-contrast;         /* CSS3 Proposed  */
  image-rendering: crisp-edges;               /* CSS4 Proposed  */
  image-rendering: pixelated;                 /* CSS4 Proposed  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+           */
	}